<html>
    <head>
        <meta name = "Description" content = "this is a nub webpage">
        <meta charset = "UTF-8"> 
        <title>Bigdickdudebro website</title>
    </head>
    <body style = "background-color: lightblue;">
        <h2>NUb website</h2>
        <hr/>                <!--this separates with a line-->
        <header>
            <nav>https://www.google.com/</nav>
        </header>
        <main>
            <article>
                <section>
                    <h1>hello wasssuppp</h1>
                    <h2>hhhhhhhhhhhhh</h2>
                    <h3>what if we all died</h3>
                    <h4>honestly that would be great</h4>
                    <h5>okay bye</h5>
                </section>
                <section>
                    this is another section 
                </section>
                <section>
                    <aside>some aside tag content for you wink wink</aside>
                    another mathafuckin section
                </section>
            </article>
        </main>
        <p>if you read this have a good <i>sex</i></p>
        <p style = 'color: orange; background-color: yellow;'>This World is a game of <b><i>hungry hungry hippos</i></b></p>
        <p>also , drink H<sub>2</sub>O</p>
        <p>some maths for you , 10<sup>2</sup> is 100</p>

        {% if name %}
        <p>your name is {{ name }}</p>
        {% else %}
        <p>you dont have a name bich</p>
        {% endif %}
    </body>
</html>
